* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #2e2e2e;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

h2 {
  font-size: 48px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  color: #2e2e2e;
  background-color: #ffffff;
  margin-bottom: 40px;
  width: 50%;
}

button[type="submit"] {
  padding: 20px;
  background-color: #a98eff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  width: 300px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #8f51c9;
}
