* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #1e1e1e;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  text-align: center;
  color: #a06ee1;
  margin-bottom: 20px;
}

#modos-menu {
  text-align: center;
  margin-top: 20px;
}

label {
  display: block;
  font-size: 24px;
  color: #a06ee1;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

#btn-iniciar {
  margin-left: 10px;
  padding: 10px;
  background-color: #a06ee1;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

#btn-iniciar:hover {
  background-color: #8f51c9;
}
